<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Меню</h1>
    </header>
    <div class="menu">
        <ul>
            {% for pizza in pizzas %}
            <li>{{ pizza.name }} - {{ pizza.price }} грн</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
